//
// HOMEPAGE HEADER STYLES
//

.homepage-header{
	min-height: 80vh;
	font-size: 1.1em;
	h1{
		letter-spacing: -0.075em;
	}
	@include media-breakpoint-up(lg){
		height: 90vh;
	}
}

.homepage-hero-image{
	background-repeat: no-repeat;
	background-size: 100vw auto;
	background-position: bottom left;
	@include media-breakpoint-down(sm){
		background-position: left -20vw center;
		background-size: cover;
	}
}

.attention-banner{
	position: absolute;
	top: 0;
	z-index: 30;
}

.attention-row{
	bottom: $spacer * 3;
}

.float-icon{
	position: absolute;
	top: $spacer;
	right: $spacer;
}

.site-slogan{
	@include media-breakpoint-up(lg){
		h1{
			font-size: 5vw;
		}
		h3{
			font-size: 1.5vw;
		}
	}
}



.homepage-about{
	background: url("../img/kids-playing.jpg") no-repeat;
	background-position: right center;
	background-size: 50vw auto;
}