
<a class="overlay-closer form-overlay-closer" href="#" data-action="body-action" data-action-target="contact-overlay-form-active">
	<i class="far fa-window-close fa-2x"></i>
</a>

<div class="contact-form-section">

	<div class="contact-form-logo d-none d-lg-block">
		<a class="navbar-brand" rel="home" href="/" title="Gouwestad FD">
			<img class="img-fluid" src="/img/logo.svg">
		</a>
	</div>

	
	<div class="bezichtiging-confirmation bg-primary" id="bezichtiging-confirmation">
		<div class="confirmation-content px-3 py-3 story story-centered">
			<h2>Bedankt voor je aanvraag</h2>
			<h4>We nemen zo snel mogelijk contact met je op!</h4>
			<p class="lead mt-5">Trouwens... Als je er over nadenkt om je eigen woning te verkopen, dan komt 1 van de Gouwestad Makelaars graag bij je langs voor een gratis waardebepaling, dan weet je direct wat je woning echt waard is.</p>
			<div class="mt-5 text-right">
				<a class="btn btn-secondary" href="https://gouwestadmakelaardij.nl" target="_blank">Dit formulier sluiten</a>
				<a class="btn btn-outline-light" href="#" data-action="body-action" data-action-target="bezichtigings-form-active">Dit formulier sluiten</a>
			</div>
		</div>
	</div>

      <div class="bezichtiging-form" id="respond">
      	<div class="container-fluid bezichtiging-form-holder">
      		<div class="row story story-centered">
      			<div class="col-12">
      				<h5 class="text-center">Een afspraak maken</h5>
      			</div>

		        <form class="form" id="bezichtiging-form" method="post" action="/" style="height: 0; overflow:hidden;">

		        	<cf-robot-message cf-questions="Hallo. Je wilt graag een (vrijvblijvende) afspraak met ons maken."></cf-robot-message>
  					<cf-robot-message cf-questions="Als je hier je gegevens invult, dan nemen wij zo snel mogelijk contact met je op"></cf-robot-message>

		        	<div class="form-group mb-3 mb-xl-4">
		        		<label class="label form-control-label" for="name">Naam:</label>
		          		<input class="form-control" type="text" name="message_name" cf-input-placeholder="Vul je naam in?" cf-questions="Wat is je naam?" id="naam" value="">
		          	</div>

		          	<div class="form-group mb-3 mb-xl-4">
		          		<label class="label form-control-label" for="message_email">Email:</label>
		          		<input class="form-control" type="email" name="message_email" cf-input-placeholder="Vul je emailadres in?" cf-questions="Dag {naam}. Wat is je emailadres?" value="" required>
		          	</div>

		          	<div class="form-group mb-3 mb-xl-4">
		          		<label class="form-control-label" for="message_phone">Telefoonnummer:</label>
		          		<input class="form-control" type="text" name="message_phone" cf-input-placeholder="Vul je telefoonnummer in" cf-questions="En op welk telefoonnummer kunnen we je bereiken?" value="" required>
		          	</div>

		          	<div class="form-group mb-3 mb-xl-4">
		          		<label class="form-control-label" for="message_text">Bericht:</label>
		          		<textarea class="form-control" name="message_text" cf-questions="Waarvoor wil je langskomen? Gaat het bijvoorbeeld om een hypotheek of wil je je verzekeringen laten doorlichten?" rows="5"></textarea>
		          	</div>

				  	<input type="hidden" name="_to" value="lex@gouwestad.com">
				  	<input type="text" name="_gotcha" style="display: none;">

					<div class="g-recaptcha"
				       data-sitekey="6LcJc6IUAAAAANTZ-ABvRhQctVRerBLQ65vs4Da4"
				       data-callback="onSubmit"
				       data-size="invisible">
				  </div>
						
					<input type="submit" value="Send Message">

		        </form>
		        <div id="cf-context" class="cf-form-holder col-12 dark-theme mx-auto px-0 px-sm-2 px-xl-5 " role="cf-context" cf-context></div>
		        <div class="col-12 px-sm-2 px-xl-5">
		        	<p class="mt-1 mb-1 subtitle"><em>Wij zijn ook bereikbaar op <a>0182 - 61 89 08</a></em></p>
		        </div>
		    </div>
		</div>
      </div>
  </div><!-- contact form section-->



<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/space10-community/conversational-form@0.9.90/dist/conversational-form.min.js" crossorigin></script>

<script>
( function( $ ) {
	window.onload = function() {
	    var conversationalForm = window.cf.ConversationalForm.startTheConversation({
	        formEl: document.getElementById("bezichtiging-form"),
	        context: document.getElementById("cf-context"),
	        robotImage: "/img/logo-mark.svg",
	        submitCallback: function() {
	            // Helper function to get form data in the supported format
					function getFormDataString(formEl) {
					  var formData = new FormData(formEl),
					      data = [];

					  for (var keyValue of formData) {
					    data.push(encodeURIComponent(keyValue[0]) + "=" + encodeURIComponent(keyValue[1]));
					  }

					  return data.join("&");
					}

					// Fetch the form element
					var formEl = document.getElementById("bezichtiging-form");

					// Override the submit event
					formEl.addEventListener("submit", function (e) {
					  e.preventDefault();

					  if (grecaptcha) {
					    var recaptchaResponse = grecaptcha.getResponse();
					    if (!recaptchaResponse) { // reCAPTCHA not clicked yet
					      return false;
					    }
					  }

					  var request = new XMLHttpRequest();

					  request.addEventListener("load", function () {
					    if (request.status === 302) { // CloudCannon redirects on success
					      // It worked
					    }
					  });

					  request.open(formEl.method, formEl.action);
					  request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
					  request.send(getFormDataString(formEl));
					});
	    	},
		    dictionaryData: {
		        "entry-not-found": "We hebben je invoer niet gevonde",
		        "input-placeholder": "Vul hier je antwoord in ...",
		        "input-placeholder-required": "Vul een antwoord in ...",
		        "input-placeholder-error": "Je invoer is onjuist ...",
		        "input-placeholder-file-error": "Upload mislukt ...",
		        "input-placeholder-file-size-error": "Helaas, je bestand is te groot ...",
		        "input-no-filter": "Geen resultaten voor {input-value}",
		        "user-reponse-and": " en ",
		        "user-reponse-missing": "Je hebt geen antwoord ingevuld of geen voorkeur ...",
		        "general": "Algemeen Type1|Algemeen Type2"
		    },
		    dictionaryRobot: {
		        "text": "Schrijf hier je antwoord.",
		        "input": "Schrijf hier je antwoord.",
		        "name": "Hoe heet je?",
		        "email": "Wat is je emailadres?",
		        "password": "Vul het wachtwoord in",
		        "tel": "Wat is je telefoonnummer?",
		        "radio": "Kies er 1.",
		        "checkbox": "Kies er zoveel als je wilt",
		        "select": "Kies een van deze mogelijkheden.",
		        "general": "Algemeen1|Algemeen2|Algemeen3.."
		    }// empty will throw error
		});
	};


})(jQuery);
	
</script>

<script type="text/javascript">
      function onSubmit(token) {
	    alert('thanks ' + document.getElementById('email').value);
	  }

	  function validate(event) {
	    event.preventDefault();
	    if (!document.getElementById('email').value) {
	      alert("Vul een email adres in");
	    } else {
	      grecaptcha.execute();
	    }
	  }

	  function onload() {
	    var element = document.getElementById('submit');
	    element.onclick = validate;
	  }
</script>



<div class="contact-attention-section">

	<div class="attention-content w-100">

		<div class="background-image-holder aspect-ratio-16-9 bg-cover bg-center" style="background-image: url('{{ page.image }}')">
		</div>
		<div class="property-titles p-lg-5">
	  		<h3 class="property-title entry-title mb-0 mb-lg-3">
	  			Een afspraak maken
	  		</h3>
	  		<p>Vul je gegevens in en we nemen zo snel mogelijk contact met je op. En wees gerust, een eerste afspraak is altijd vrijblijvend.</p>
	  	</div>
	</div>
</div>
