<div class="calculator-holder">
	<div class="sidebar-menu calculator-sidebar-menu">
	</div>
	<div class="calculator-content">
		<h1>En..? Kun je dat droomhuis betalen?</h1> 
		<h3>Vul hieronder je gegevens in en je weet het direct!</h3>
		<p>Het kostbaarste materiele bezit in je leven (letterlijk dan he...), daarvoor wil je alles toch gewoon goed geregeld hebben? Wij helpen je niet allen graag met de aanschaf van je nieuwe woning op een makkelijke en prettige manier, maar we


		Een hypotheek afsluiten is vaak zo'n serieuze en moeilijke bezigheid. Wij vinden het vooral belangrijk dat het aankopen van een woning een leuke tijd voor je is. 
		Het gemak en de duidelijkheid van nu met het plezier van ee lokaal kantoor waar je gewoon naar binnen kunt lopen.
	</div>
</div>