<div id="footer">
    <footer class="footer-links">
        <div class="container">
            <div class="footer-menu-holder editable">
                <div class="footer-menu-col">
                    <h3>Hypotheek</h3>
                </div>
                <div class="footer-menu-col">
                    <h3>Verzekeren</h3>
                </div>
                <div class="footer-menu-col">
                    <h3>Over Gouwestad</h3>
                </div>
                <div class="footer-menu-col">
                    <h3>Contact</h3>
                </div>
            </div>

        </div>
    </footer>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <p><small>© copyright {{ site.time | date: '%Y' }} | Gouwestad Financiele Diensten </small></p>
                </div>
            </div>
        </div>
    </footer>
</div>
