<div id="footer">
    <footer class="footer-links">
        <div class="container">
            <div class="footer-menu-holder editable">
                <div class="footer-menu-col">
                    <h3>Hypotheek</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/archief/#nieuws">Je eerste huis kopen</a>
                        </li>
                        <li>
                            <a href="/archief/#persbericht">Op naar een nieuwe woning</a>
                        </li>
                        <li>
                            <a href="/archief/#column">Oversluiten</a>
                        </li>
                        <li>
                            <a href="/archief/#publicatie">Maximale hypotheek berekenen</a>
                            <!-- onder publicaties vallen alle rapporten, zoals thermometer, kompas en regio bouwwijzer--> </li>
                    </ul>
                </div>
                <div class="footer-menu-col">
                    <h3>Verzekeren</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="http://login.nvb-bouw.nl/flitsbijeenkomsten.html%20">Flitsbijeenkomsten</a>
                        </li>
                        <li>
                            <a href="http://login.nvb-bouw.nl/studiebijeenkomsten.html">Studiebijeenkomsten</a>
                        </li>
                        <li>
                            <a href="http://login.nvb-bouw.nl/verbindeninderegio.html%20">Verbinden in de regio</a>
                        </li>
                        <li>
                            <a href="http://nvbjaarcongres.nl/">NVB-Jaarcongres</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-menu-col">
                    <h3>Over Gouwestad</h3>
                    <ul class="list-unstyled over-nvb-nav">
                        <li>
                            <a href="/leden">Onze leden</a>
                        </li>
                        <li>
                            <a href="http://login.nvb-bouw.nl/nvb-bestuur.html">
                                Ons bestuur
                                <!-- bestuur, bureau, verenigingszaken --> </a>
                        </li>
                        <li>
                            <a href="http://login.nvb-bouw.nl/nvb-bureau.html">Ons bureau</a>
                        </li>
                        <li>
                            <a href="http://login.nvb-bouw.nl/verenigingszaken.html">Verenigingszaken</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-menu-col">
                    <h3>Topics</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/archief/#woningmarkt">Woningmarkt</a>
                        </li>
                        <li>
                            <a href="/archief/#commercieel-vastgoed">
                                Commercieel vastgoed
                            </a>
                        </li>
                        <li>
                            <a href="/archief/#juridisch-fiscaal">Juridisch &amp; Fiscaal</a>
                        </li>
                        <li>
                            <a href="/archief/#grondzaken">RO &amp; grondzaken</a>
                        </li>
                        <li>
                            <a href="/archief/#milieu">Milieu</a>
                        </li>
                        <li>
                            <a href="/archief/#economie-maatschappij">Economie &amp; maatschappij</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </footer>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <p><small>© copyright {{ site.time | date: '%Y' }} | Gouwestad Financiele Diensten </small></p>
                </div>
            </div>
        </div>
    </footer>
</div>
