<div class="wrapper bg-light py-3 py-xl-5" id="wrapper-footer">

    <div class="container-fluid container-wide w-auto">

        <div class="row">

            <div class="col-md-12">

                <footer class="site-footer">

                    <div class="row">
                        <div class="col-12 col-sm-6 order-3 order-lg-1 col-lg-3 mt-3 mt-lg-0">
                            <address class="">
                                <strong class="text-primary">Bezoekadres</strong><br>
                                Zuidplaslaan 196<br>
                                2743 CP Waddinxveen<br>
                                <br>
                                info@gouwestadfd.nl<br>
                                <h4>0182 – 63 60 21</h4>
                            </address>
                        </div>
                        <div class="col-6 order-1 order-lg-2 col-lg-3">
                            <strong class="text-primary">Openingstijden</strong>
                            <div class="menu-opening-hours">
                                <div class="menu-opening-hours-item d-flex justify-content-between">
                                    <strong>ma</strong> 09:00 - 17:00
                                </div>
                                <div class="menu-opening-hours-item d-flex justify-content-between">
                                    <strong>di</strong> 09:00 - 17:00<br>
                                </div>
                                <div class="menu-opening-hours-item d-flex justify-content-between">
                                    <strong>wo</strong> 09:00 - 17:00<br>
                                </div>
                                <div class="menu-opening-hours-item d-flex justify-content-between">
                                    <strong>do</strong> 09:00 - 17:00<br>
                                </div>
                                <div class="menu-opening-hours-item d-flex justify-content-between">
                                  <strong>vr</strong> 09:00 - 17:00<br>
                                </div>
                                <div class="menu-opening-hours-item d-flex justify-content-between">
                                  <strong>za</strong> gesloten<br>
                                </div>
                                <div class="menu-opening-hours-item d-flex justify-content-between">
                                  <strong>zo</strong> gesloten<br>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 order-2 order-lg-3 col-lg-3">
                            <strong class="text-primary">Meer weten</strong><br>
                            <ul class="list-unstyled">
                                <li><a class="text-dark" href="/over-ons"><i class="fal fa-long-arrow-right"></i> <span class="ml-2">over ons</span></a></li>
                                <li><a class="text-dark" href="/hypotheken"><i class="fal fa-long-arrow-right"></i> <span class="ml-2">hypotheken</span></a></li>
                                <li><a class="text-dark" href="/verzekeringen"><i class="fal fa-long-arrow-right"></i> <span class="ml-2">verzekeren</span></a></li>
                                <li><a class="text-dark" href="/zelf-berekenen"><i class="fal fa-long-arrow-right"></i> <span class="ml-2">zelf berekenen</span></a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-6 order-4 col-lg-3">
                            <p>
                                Op zoek naar een passende hypotheek of wil je weten of je de beste verzekeringen hebt?<br><br>
                                Dan zijn wij je uiteraard graag van dienst met onze gedegen <strong class="text-primary">kennis</strong>, <strong class="text-primary">advies</strong> en natuurlijk ons <strong class="text-primary">enthousiasme.</strong> 
                            </p>
                        </div>
                    </div>


                </footer>

            </div><!--col end -->

        </div><!-- row end -->

    </div><!-- container end -->

</div><!-- wrapper end -->

<footer>
    <div class="container-wide">
        <div class="row">
            <div class="col">
                <p><small>© copyright {{ site.time | date: '%Y' }} | Gouwestad Financiële Diensten </small></p>
            </div>
            <div class="col d-flex justify-content-end text-right">
                <nav class="nav small">
                    <a class="nav-link" href="/privacy-verklaring">privacy beleid</a>
                    <a class="nav-link" href="/disclaimer">disclaimer</a>
                    <a class="nav-link" href="/downloads">downloads</a>
                </nav>
            </div>
        </div>
    </div>
</footer>
