<nav class="main-navbar bg-white headroom" id="top" role="banner">
	<div class="container-fluid no-gutters container-wide">

		<a class="navbar-brand" rel="home" href="/" title="<?php echo esc_attr( get_bloginfo( 'name', 'display' ) ); ?>">
			<img class="img-fluid" src="/img/logo.svg">
		</a>

		<div class="nav-items d-flex align-items-center">
			
			<div class="nav-toggle-holder">
				<div class="nav-toggle side-toggle">
				    <svg viewBox="0 0 800 600">
				        <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
				        <path d="M300,320 L540,320" id="middle"></path>
				        <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
				    </svg>
				</div>
			</div>
		</div>
	</div>
</nav>

<div class="nav-holder d-flex flex-wrap align-items-center align-content-between">
	<div class="invisible">s</div>
	<div class="nav-main my-5 w-100">
		<ul id="main-menu" class="nav flex-column">
			<li id="" class="nav-item menu-item">
				<a title="hypotheek" href="/hypotheek/" class="nav-link d-flex align-items-center">
					<h4 class="mb-0" style="width: 1.2em"><i class="fal fa-truck-couch"></i></h4>	
					<span class="menu-item-text pl-2 pl-xl-3">hypotheken</span>
				</a>
			</li>
			<li id="menu-item-10908" class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
				<a title="verzekeringen" href="/verzekeringen/" class="nav-link d-flex align-items-center">
					<h4 class="mb-0" style="width: 1.2em"><i class="fal fa-car"></i></h4>					
					<span class="menu-item-text pl-2 pl-xl-3">verzekeringen</span>
				</a>
			</li>
			<li id="menu-item-16422" class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
				<a title="zelf berekenen" href="/zelf-berekenen/max-hypotheek" class="nav-link d-flex align-items-center">	
					<h4 class="mb-0" style="width: 1.2em"><i class="fal fa-calculator"></i></h4>				
					<span class="menu-item-text pl-2 pl-xl-3">Zelf berekenen</span>
				</a>
			</li>
			<li id="menu-item-16422" class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
				<a title="over ons" href="/over-ons/" class="nav-link d-flex align-items-center">		
					<h4 class="mb-0" style="width: 1.2em"><i class="fal fa-people-carry"></i></h4>				
					<span class="menu-item-text pl-2 pl-xl-3">over ons</span>
				</a>
			</li>
			<li id="menu-item-5830" class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
				<a title="contact" href="/contact/" class="nav-link d-flex align-items-center">	
					<h4 class="mb-0" style="width: 1.2em"><i class="fal fa-smile"></i></h4>					
					<span class="menu-item-text pl-2 pl-xl-3">contact</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="align-self-end px-2 px-xl-3 pb-2">
		<address class="">
			<strong class="text-primary">Bezoekadres</strong><br>
			Zuidplaslaan 196<br>
			2743 CP Waddinxveen<br>
			<br>
			info@gouwestadfd.nl<br>
			<h4>0182 – 63 60 21</h4>
		</address>
	</div>
</div> 