<nav class="navbar navbar-light  bg-faded">
	<a class="navbar-brand" href="/">
		<img class="img-fluid" src="/img/logo.svg" alt="logo Gouwestad Financiele Diensten">
	</a>
	<ul class="nav navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="#"><span class="fa fa-bullseye"></span> schade melden</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#"><span class="fa fa-user"></span> mijn gegevens</a>
		</li>
	</ul>
	<a class="nav-toggler hamburger-menu side-nav-toggle">
		<div class="m-bar"></div>
	</a>
</nav>

<nav class="sidebar-navigation-holder">
	<ul class="nav sidebar-navigation">
		<li class="nav-item">
			<a class="nav-link" href="/hypotheek">hypotheek</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/verzekeren">verzekeren</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/downloads">downloads</a>
		</li>

	</ul>

</nav>