
<nav class="navigation-holder">

	<div class="row">
		<a class="navigation-menu-brand m-b-3" href="/">
			<img class="img-fluid" src="/img/logo-white.svg" alt="logo Gouwestad Financiële Diensten">
		</a>
	</div>

	<a class="navigation-menu-closer side-nav-toggle" href="#">
		<span class="navigation-menu-closer-text m-r-1">menu sluiten</span>
		<span class="fa fa-close"></span></a>

	<div class="row m-t-1 align-items-center">
		<ul class="nav navigation-menu flex-column">
			<li class="nav-item navigation-menu-item">
				<a class="nav-link" href="/hypotheek">
					<h3  class="m-b-0"><strong>Hypotheken</strong></h3>
					<h6 class="text-sm-uppercase">De leukste weg naar vertrouwd advies</h6>
				</a>

			</li>
			<li class="nav-item navigation-menu-item">
				<a class="nav-link" href="/verzekeringen">
					<h3  class="m-b-0"><strong>Verzekeringen</strong></h3>
					<h6>Omdat je wilt beschermen wat je lief is</h6>
				</a>
			</li>
			<li class="nav-item navigation-menu-item">
				<a class="nav-link" href="/over-ons">
					<h3  class="m-b-0"><strong>Over ons</strong></h3>
					<h6>Het gemak van nu, met het plezier van een lokaal kantoor</h6>
				</a>
			</li>

			<li class="nav-item navigation-menu-item">
				<a class="nav-link" href="/contact">
					<h3  class="m-b-0"><strong>Contact</strong></h3>
					<h6>Een slogan over onze verzekeringen</h6>
				</a>
			</li>

		</ul>
	</div>

	<div class="contact-data-holder">
		<address>
			<strong>Telefoon:<br></strong>
		     	0182 - 61 89 08
		 </address>
		<address>
			<strong>Bezoekadres:</strong>
			<br>Zuidplaslaan 196
			<br>2741 CP Waddinxveen
		</address>
		<address>
			<strong>Postadres</strong>
			<br>Postbus 467, 2740 AB Waddinxveen
		</address>
	</div>

	<footer class="navigation-menu-footer">
		<nav class="footer-content">
			<ul class="nav nav-inline">
				<li class="nav-item">
					<a class="nav-link" href="/voorwaarden">cookies</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/voorwaarden">voorwaarden</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/downloads">downloads</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/voorwaarden">klachten</a>
				</li>
			</ul>
		</nav>
	</footer>

</nav>

