---
layout: default
image: /img/beschermen.jpg
---		

<header class="">
	<div class="container-wide container-fluid w-auto">
		<div class="row">
			<div class="col-12 mt-xl-5 pt-5 pb-5">
				<h4 class="text-primary"><i class="fal fa-car"></i> <span class="pl-2">Verzekeringen</span></h4>
				<h1 class="mb-0">Omdat je wilt beschermen wat je lief is</h1>
			</div>
		</div>
	 </div>
</header>

<div class="container-wide to-edge to-edge-left pos-rel mb-5">
	<figure class="background-image-holder aspect-ratio-24-9 mb-0 pos-rel">
		<div class="background-image data-image">
			<img class="img-fluid" src="{{ page.image }}">
		</div>
	</figure>
	<div class="image-attention-block bg-primary dark-bg p-3 p-xl-4 d-flex flex-column justify-content-between">
		<h5 class="mb-5 text-light">Hoeveel kun je financieren?</h5>
		<h6><a class="text-white" href="/berekenen">Bereken het direct</a></h6>
	</div>
</div>

<section class="">
	<div class="container-narrow">
		<div class="row">
			<div class="col-sm-6 col-lg-5">
				<h4 class="text-primary mb-0">Verzekeringen</h4>
				<h3 class="mb-3">Zodat jij je zeker voelt</h3>
				<p class="lead">Al ruim 30 jaar beschermen wij onze klanten en hun toekomst. Verzekeren doen wij niet alleen omdat het moet, maar omdat je wilt beschermen wat je lief is.</p>
			</div>
			<div class="col-sm-8 col-lg-6 offset-lg-1">
				<p>Persoonlijke aandacht en luisteren naar wat jij, als klant, belangrijk vindt. Zodat je met een vertrouwd gevoel naar de toekomst kunt kijken. Volledig onaf<br><br>
					<b>En het mooiste, dat gaat bij ons gewoon samen met scherpe premies.</b>
				</p>
				<p></p>
			</div>
		</div>
	</div>
</section>

<section class="insurance-products bg-light">
	<div class="container-fluid swiper-container-holder overflow-hidden">
		<div class="row">
			<div class="col mb-5">
				<h2>Wij adviseren in</h2>
			</div>
		</div>
		<div class="row">
			<div class="swiper-container container product-cards-container">
				<div class="swiper-wrapper product-cards-group">

					{% for product in site.data.verzekeringsproducten %}
					<div class="swiper-slide col-11 col-sm-7 col-xl-4 d-flex align-items-stretch">
						<div class="card w-100 bg-white">
							<div class="card-body text-center text-xl-left">
								<div class="row align-items-center">
									<div class="col-12 col-xl-6 text-xl-center">
										<i class="fal fa-{{ product.icon }} fa-4x text-primary mb-3"></i>
										<h5 class="mb-2 mb-xl-0"><strong>{{ product.naam }}</strong></h5>
									</div>
									<div class="col-12 col-xl-6">
										<ul class="list-unstyled mb-0">
											{% for item in product.onderdelen %}
											<li>{{ item }}</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}

				</div><!-- swiper-wrapper -->

				<!-- Add Pagination -->
	    		<div class="swiper-pagination mt-3"></div>
	    		<!-- Add Arrows -->
				<div class="slider-btn slider-btn-prev">
					<span class="fa-stack fa-lg">
					 	<i class="fal fa-circle fa-stack-2x"></i>
					 	<i class="fal fa-angle-left fa-stack-1x"></i>
					</span>
				</div>
				<div class="slider-btn slider-btn-next">
					<span class="fa-stack fa-lg">
					 	<i class="fal fa-circle fa-stack-2x"></i>
					 	<i class="fal fa-angle-right fa-stack-1x"></i>
					</span>
				</div>

			</div><!--swiper-container-->
		</div>
	</div>
</section>

<section>
	<div class="huge-background-icon right">
		<span class="fa fa-home"></span>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<h2>Over ons</h2>
				<p class="lead">Het gemak en de duidelijkheid van <strong>nu</strong> met het plezier van een lokaal kantoor waar je gewoon naar binnen kunt lopen. Dat is iets waar we trots op zijn. En zeg nou zelf, voor zulke belangrijke zaken is een persoonlijk aanspreekpunt wel zo fijn toch?</p>
				<a href="/over-ons">Meer over ons</a>
			</div>
		</div>
	</div>
</section>


<section class="strip">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-xs-12 pull-left">
				<h3 class="text-info"><strong>Vrijblijvend langskomen.</strong> Neem contact met ons op</h3>
			</div>
			
			<div class="col-sm-4 col-xs-12 pull-right text-xs-right">
				<a href="#" class="btn btn-primary">afspraak aanvragen</a>
			</div>
		</div>
	</div>
</section>






