

//
.homepage-hero{
	background-image: url("/img/home-hero-img");
}


//
// SECTION HOMEPAGE PRODUCT CARDS
//

.home-product-swiper-container{
	padding-top: $element-spacer / 2;

	.swiper-wrapper{
		display: flex;
	}
}