

//
.homepage-hero{
	background-image: url("/img/home-hero-img");
	justify-content: center;
	.content{
		align-self: flex-end;
		text-align: center;
		padding: 5em 3em;
		font-size: 1.2em;
		max-width: 35em;
		h1{
			color: $brand-info;
		}
	}
}


//
// SECTION HOMEPAGE PRODUCT CARDS
//

.home-product-swiper-container{
	padding-top: $element-spacer / 2;

	.swiper-wrapper{
		display: flex;
	}
}

.homepage-about{
	background: url("../img/kids-playing.jpg") no-repeat;
	background-position: right top;
	background-size: 60vw auto;
}