


// Import Bootstrap
@import "../components/bootstrap/scss/functions";
@import "utils/_variables";
@import "../components/bootstrap/scss/bootstrap";

@import "utils/swiper";

@import "base/type";
@import "base/bordered-type";
@import "base/grid";
@import "base/background-colors";

@import "components/sidebar"; // berekentools overlay
@import "components/calculator"; // berekentools overlay

@import "components/forms";
@import "components/overlay-forms";
@import "components/cf-forms";
@import "components/icons";
@import "components/buttons";

@import "components/navs";
@import "components/navbar";
@import "components/nav-burger";

@import "components/images";

@import "components/card";
@import "components/highlight";

@import "components/afspraak-modal";
@import "components/sliders";

@import "layout/layout";
@import "layout/header";
@import "layout/footer";

@import "pages/homepage";
//@import "pages/post";
@import "pages/hypotheek";
@import "pages/contact";



/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy{
    display: none !important;
}

.IE .browsehappy {
    display: block !important;
    margin: 0.2em 0;
    background: #eee;
    color: #000;
    padding: 5em 3em !important;
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    z-index: 2000;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: center;
    .close{
        position: absolute ;
        right: 0.5em;
        top: 0.5em;
    }
}

.IE._11 .browsehappy,
.IE._12 .browsehappy
.IE._13 .browsehappy{
    display: none !important;
}

.IE.warning-dismissed .browsehappy{
    display: none !important;
}




