


.quick-links{
	position: relative;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	@include media-breakpoint-up(lg){
		padding-top: $spacer * 3;
		padding-bottom: $spacer * 3;
	}
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1.1em;
	letter-spacing: -0.02em;
	z-index: 5;

	.nav-item{
		margin-left: 1.5em;
		margin-right: 1.5em;
	}
}

.fa.quick-link-icon{
	font-size: 1.67em;
	display: block;
}

.menu-opening-hours{
	@include media-breakpoint-up(lg){
		columns: 2;
	}
}

.menu-opening-hours-item{
	strong{
		width: 30px;
	}
}

.overlay-closer{
	position: fixed;
	top: $spacer;
	right: 0;
	padding: 0.5em 1em;
	padding-right: $spacer * 1.3; // align with right side of menu
	background: $brand-primary;
	color: #fff;
	transition: 0.15s all ease-out;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	z-index: 10000;

	&:hover{
		@include media-breakpoint-up(lg){
			color: $brand-primary;
			background: #fff;
			box-shadow: 0 0 5px rgba(0,0,0,0.1);
			transform: scale(1.05);
			transition: 0.15s all ease-in;
		}
	}
}