

.afspraak-modal{
	width: 85vw;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #fff;
	z-index: 2000; // watch this
	display: flex;
	align-items: center;
	transform: translate(-100%,0);
	transition: 0.3s all;

	.content{
		padding: $spacer * 2;
	}
}

.afspraak-modal-active{
	.afspraak-modal{
		transform: translate(0%,0);
	}
}