
.product-card{
	max-width: 300px;
	margin-right: 3rem;

	box-shadow: 0 0.125em 0.5em 0 rgba(4, 49, 64, 0.1);


}

.product-card-title{
	color: $brand-info;
	text-transform: uppercase;
	margin-bottom: 2em;
}

.product-card-text{
	color: $brand-primary;
	margin-bottom: 2em;
}

.card-icon{
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3em .5em 0;
	color: $brand-primary;
	.material-icons{
		font-size: 2em;
	}
}


.link-box{
	padding-top: 5rem;
	padding-bottom: 5rem;

	.content{
		position: relative;
		padding: 5rem;
	}
}