
.background-image{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
	&.col-sm-4{
		width: 33.333333%;
	}
 }

 .data-image{
 	img{
 		display: none;
 	}
 }

 .image-overlay{
 	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;

	&.light{
		background-image: linear-gradient(to top , fade-out(#fff, 0),55%, fade-out(#fff, 1));
		@include media-breakpoint-up(md) {
			background-image: linear-gradient(to right , fade-out(#fff, 0.2), 45% , fade-out(#fff, 0.7));
		}
	}
	&.light-reversed{
		background-image: linear-gradient(to top , fade-out(#fff, 0),55%, fade-out(#fff, 1));
		@include media-breakpoint-up(md) {
			background-image: linear-gradient(215deg , fade-out(#fff, 0.5), 35% , fade-out(#fff, 1));
		}
	}
	&.info{
		background-image: linear-gradient(to top , fade-out($brand-info, 0.4), 30%, fade-out($brand-info, 1));
		@include media-breakpoint-up(md) {
      			background-image: linear-gradient(to right , fade-out(desaturate($brand-info, 5%), 0.15), fade-out($brand-info, 0.55));
      		}
	}
 }