
// 
// THE NAVBAR BRAND
// resoltion dependant

.navbar{
	display: flex;
	align-items: flex-end;
}

.navbar-brand{
	min-width: 180px;
	max-width: 250px;
}

.navbar-nav{
	padding-right: $navbar-padding-horizontal;
	margin-right: 0;
	margin-left: auto;
}

.nav-toggler{
	margin-right: 0;
}