

//
// NAVIGATION SPECIFIC VARIABLES
//




// 
// THE NAVBAR BRAND
// resoltion dependant

.navbar{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.navbar-brand{
	min-width: 180px;
	max-width: 250px;
}

.navbar-nav{
	padding-right: $navbar-padding-horizontal;
	margin-right: 0;
	margin-left: auto;
}

.nav-toggler{
	margin-right: 0;
}


//
// NAVIGATION Menu
// The main navigation menu is a fullscreen view
//
.navigation-holder{
	width: 100vw;
	background: $brand-info;
	color: #fff;
	position: fixed;
	right: 0;
	top: 0;
	min-height: 100vh;
	transform: translate(100%,0);
	transition: 0.3s ease-out;
	z-index: 10000;
	padding: 3rem;

	h1, h2, h3, h4{
		color: #fff;
	}

	h5, h6{
		color: rgba(255,255,255,0.8);
	}
}

.navigation-menu{
	@include media-breakpoint-up(lg){
		margin-left: $spacer * 4;
	}
	padding-right: $spacer * 4;
}

.navigation-menu-brand{
	min-width: 220px;
	max-width: 250px;
	margin-left: $spacer * 4;
}

.navigation-menu-item{
	margin-bottom: $spacer * 2;
}

.navigation-menu-active .navigation-holder{ 
	transform: translate(0,0);
	transition: 0.3s ease-out;
}



// the menu closer
.navigation-menu-closer{
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-width: $spacer * 2;
	min-height: $spacer *2;
	padding: 0.5em 1em; 
	background: #fff;
}



// contact data
.contact-data-holder{
	position: absolute;
	right: $spacer * 4;
	bottom: $spacer * 6;
}


// navigation menu footer
.navigation-menu-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: none;
	color: #fff;
	border-top: 1px solid rgba(255,255,255,0.2);
	text-align: right;
}

.footer-content{
	padding-left: $spacer * 2;
	padding-right: $spacer * 2;

	@include media-breakpoint-up(lg){
	padding-left: $spacer * 4;
	padding-right: $spacer * 4;
	}
}



//
// END NAVIGATION MENU
//


// Page overlay for closing nav
.page-overlay{
 	width: 100%;
 	height: 100vh;
 	top: 0;
 	left: 0;
	position: fixed;
	min-height: 110vh;
	background: fade-out($brand-primary, 0.4);
	opacity: 0;
	z-index: -1;
	transition: 0.3s all 0.3s;
}

.sidebar-nav-active,
.afspraak-modal-active{
	.page-overlay{
            	opacity: 1;
            	z-index: 50;
            	transition: 0.2s all 0.2s;
            }
}