
.sidebar-menu{
	@include make-col-ready(0);
	@include make-col(3);
	display: flex;
	justify-content: space-between;
	min-width: 250px;
	max-width: 30rem;
	height: calc(100vh -  5rem); //accomodate navbar
	overflow-y: visible;
	-webkit-overflow-scrolling: touch;
	background: #fff;
}

.sidebar-logo{
	min-width: 150px;
	max-width: 220px;
	height: auto;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 2rem;
}



.sidebar-content{
	padding: $spacer ($spacer / 2);
}


// sidebar navigation default styles

.sidebar-nav{
	margin-top: auto;
	margin-bottom: auto;

	.nav-link{
		line-height: 1.1;
	}
}

.sidebar-nav-title{
	font-weight: 300;
	margin-bottom: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.sidebar-nav {
	.nav-item{
	}
	.nav-link {
		min-width: 100%;
		padding-left: 2rem;
		font-weight: 400;
		padding-top: 1em;
		padding-bottom: 1em;
		transition: 0.2s all ease-in-out;
		border-left: 5px solid transparent;
		transform: translate(-5px, 0);
	        	&.active,
	        	&:hover,
	        	&:focus {
	            		border-left: 5px solid $brand-info;
	            		transition: 0.2s all ease-in-out;
	            		color: $brand-info;
	            		transform: translate(0px, 0);
	        	}
	}

	// when hovering nav menu remove the visibilty of the active class so that hover can take over
	&:hover{
		.nav-link.active{
			border-left: 5px solid transparent;
			transition: 0.2s all ease-in-out;
			transform: translate(-5px, 0);
		}
	}
}

.sidebar-appointment-link{
	margin-top: auto;
	margin-bottom: 2rem;
	align-self: flex-end;
	min-width: 100%;
	padding-left: 2rem;
	padding-right: 2rem;
	text-align: center;
}
