---
layout: default
body_class: post dark-header

---

<article class="post cd-articles">
	<header class="">
		<div class="container-wide container-fluid w-auto">
			<div class="row">
				<div class="col-12 mt-xl-5 pt-5 pb-5">
					<h6 class="text-primary">{{ page.category }}</h6>
					<h1 class="mb-0">{{ page.title }}</h1>
					<h4 class="mb-0">{{ page.subtitle }}</h4>
				</div>
			</div>
		 </div>
		 <div class="container-wide to-edge to-edge-left pos-rel">
			<figure class="background-image-holder aspect-ratio-24-9 mb-0 pos-rel">
				<div class="background-image data-image">
					<img class="img-fluid" src="{{ page.image }}">
				</div>
			</figure>
		</div>
	</header>

	<section class="post-content container-fluid">
		<main class="editor-content story story-centered story-full" id="post-content">
			{{ content }}
		</main>
	</section>
</article>
