#footer{
	position: relative;
}

.footer-links{
	padding: 4em 0;
	background: $brand-primary;
	h3{
		color: rgba(255,255,255,0.65);
	}
	a{
		color: #fff;
	}
	@include media-breakpoint-down(md){
		font-size: 0.9em;
		letter-spacing: -0.025em;
	}
	
}

.footer-inverse{
	background: darken(desaturate($brand-info,30%),10%);
}

.footer-menu-holder{
	@include make-row;
}

.footer-menu-col{
	@include make-col;
	@include make-col-span(6);
	@include media-breakpoint-up(md) {
		@include make-col-span(3);
	}
}

.footer-default{
	padding: 60px 0 30px;
	.footer-logo {
	    border-bottom: 1px solid rgba(255,255,255,0.1);
	    margin-bottom: 30px;
	    padding-bottom: 30px;
	    a{
	    	display: block;
	    	max-width: 100px;
	    	opacity: 0.7;
	    }
	}

	.row-nav {
    		margin-bottom: 60px;
	}

	.col-social {
   		float: right !important;
    	width: auto;
    	li{
    		float: left !important;
    	}
	}
	.nav > li > a{
		padding: 0;
		color: rgba(255,255,255,0.7);
		&:hover,
		&:focus,
		&:active{
			color: rgba(255,255,255,0.75);
			background: none;
		}
	}
	.nav-title{
		color: rgba(255,255,255,0.7);
	}
}

.nav, 
.nav-inverse {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
    li{
    	padding-left: 0;
    	margin-left: 0;
    }
}

.nav-small{
	font-size: 0.8em;
	display: inline-block;
	li{
		display: inline-block;
	}
}

.col-social{
	a{
		background: rgba(255,255,255,0.2);
		height: 40px;
		width: 40px;
		line-height: 40px;
		border-radius: 30px;
		text-align: center;
		margin-right: 10px;
	}
}

.col-copyright{
	text-align: right;
	small{
		color: rgba(255,255,255,0.75);
	}
}

.social-text{
	display: none;
}

.aanmelden{
    .btn{
        margin-bottom: 1em;
    }
    .logo-padding{
        padding-right: 2em;
    }
}

footer{
    background: $gray-lighter;
    color: $gray-light;
    padding: 1em 0;
    small{
        color: $gray-light;
    }
}

.footer-logo{
	max-width: 250px;
	margin-left: -10px;
}