
//
// DEFAULT MARGINS & PADDINGS FOR COMMON PAGE LAYOUT ELEMENTS
//

.container-fluid{
	@include media-breakpoint-up(lg){
		margin-left: 5rem;
		margin-right: 5rem;
	}
}

section{
	position: relative;
	padding-top: 5em;
	padding-bottom: 5em;

	&.center-aligned{
		display: flex;
		align-items: center;

		.row{
			align-items: center;
		}
	}
}

.background-image{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background-size: cover;
	&.col-sm-4{
		width: 33.333333%;
	}
 }

