.heading-bordered {
    position: relative;
    padding-left: 1em;
}

.heading-bordered:before {
    position: absolute;
    content: "";
}

.heading-bordered:before {
    left: 0;
    right: auto;
    bottom: 0;
    width: 5px;
    height: 1em;
    background: $brand-primary;
    margin: auto;
}

.bordered-above{
	padding-left: 0;
	padding-top: 0.33em;

	&:before{
		text-align: center;
		bottom: auto;
		top: 0;
		width: 1.5em;
		height: 5px;
	}
}

.bordered-after{
	padding-left: 0;
	padding-bottom: 0.5em;

	&:before{
		top: auto;
		bottom: 0;
		left: 0;
		right: 0;
		width: 1em;
		height: 3px;
	}
}