html {
    font-size: 105%;
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    line-height: 1.65;
    text-rendering: optimizeLegibility;
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-rendering: optimizeLegibility;
        -moz-font-feature-settings: "kern";
        -moz-font-feature-settings: "kern=1";
        -ms-font-feature-settings: "kern";
        -o-font-feature-settings: "kern";
        -webkit-font-feature-settings: "kern";
        font-feature-settings: "kern";
    }
}

// mixin for light text on dark background font rendering
@mixin dark-bg {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//
// REDEFINE TYPE BASED ON SCREEN WIDTH
// these are type styles... Bigger screens bigger base size
@include media-breakpoint-up(sm) {
    body {
        font-size: 108%;
        letter-spacing: 0.015em;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 110%;
        line-height: 1.7;
    }
    p {
        line-height: 1.7;
        letter-spacing: -0.0065em;
        &.small {
            line-height: 1.3;
        }
    }
}

@media screen and (min-width: 1500px) {
    body {
        font-size: 115%;
    }
}

@media screen and (min-width: 1700px) {
    body {
        font-size: 122%;
    }
}



///
// FONT STYLING PER ELEMENT
//
h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: -0.03em;
}

.uppercase{
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.text-white{
    color: #fff;
}







